@using WebApplication1.Web.Controllers

@{
    ViewData["Title"] = "Index";
    Layout = "MyLayout";
}
@*
<h1>Example Index page</h1>
<h2>@ViewBag.name</h2>
<h3>@ViewBag.grades</h3>
<h2>@ViewBag.number</h2>
@{
    string name = ViewBag.name;
    <h1>ViewBag.grades</h1>
}

<h1>@name</h1>
<hr />
<h1>@ViewData["name2"]</h1>
@{
    foreach (int item in ViewData["numbers2"] as List<int>)
    {
        <p>@item</p>
    }
}

@{
    foreach(int grade in ViewBag.grades as List<int>)
    {
        <p>@grade</p>
    }
}
<h1>@ViewData["name2"]</h1>
<hr />*@
<partial name="_header"/>
<header>new header part</header>

@model Product[]
@foreach (var item in Model)
{
        <p>Id: @item.Id</p>
        <p>Type: @item.Type</p>
        <p>Name: @item.Name</p>
}
<footer>new footer part</footer>

@section header{
    <p>Merhaba header</p>
}

@section footer{
    <p>Hello footer</p>
}

@section Scripts{
    <script>
        alert("Hello asp.net");
        $(document).ready(function(){alert("What's up");console.log("hello")})
    </script>
}

@section CSS{
    <style>
        h1{
            background-color:yellow;
            color:blue;
        }

    </style>
}



