@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if(TempData["status"]!=null)
{
    <div class="alert alert-success" role="alert">
        @TempData["status"]
    </div>
}

@model List<ProductViewModel>

<a asp-controller="Product" asp-action="add">Add product</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>

            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Price
            </th>
            <th>
                Color
            </th>
            <th>
                Height
            </th>
            <th>
                Width
            </th>
            <th>
                Show
            </th>
            <th>
                Expiration
            </th>
            <th>
                Descrption
            </th>
            <th>
                Transaction
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id;
                </td>

                <td>
                    @item.Name
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Color
                </td>
                <td>
                    @item.Height
                </td>
                <td>
                    @item.Width
                </td>
                <td>
                    @(item.IsShow? "Yes":"No")
                </td>
                <td>
                    @item.Expiration
                </td>
                <td>
                    @if (item.Description.Length<20)
                    {
                        @item.Description;
                    }else
                    {
                        @item.Description.Substring(0, 20);
                    }
                </td>
                <td>
                    <a asp-controller="Product" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    <a asp-controller="Product" asp-action="update" asp-route-id="@item.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>
