@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@model List<Product>

<a asp-controller="Product" asp-action="add">Add product</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>

            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Price
            </th>
            <th>
                Transaction
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>

                <td>
                    @item.Name
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <a asp-controller="Product" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    <a asp-controller="Product" asp-action="update" asp-route-id="@item.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>
